// Breakpoints
$xlarge-breakpoint: 120em !default;
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: rgb(145, 0, 0) !default;
$header-bg-color-secondary: #fff !default;

// Text
$section-headings-color: #2c1eee !default;
$body-text-color: #000 !default;
$body-link-color: #ff7700 !default;
$blockquote-text-color: #161616 !default;

// Code
$code-bg-color: #fff !default;
$code-text-color: #191b8a !default;

// Borders
$border-color: #372e81 !default;
$table-border-color: #251b81 !default;
$hr-border-color: #24198a !default;
